# Google secrets
client_secrets.json
credentials.json
token.json

# Python env
.venv/
__pypackages__/

# Python cache
__pycache__/
*.py[cod]

# Local environment
.env

# Logs
logs/

# Byte-compiled / optimized / DLL files
*.so

credentials_OFF.json
client_secrets.json